* {
  /* border: 2px solid white; */
}

html,
body {
  color: white;
  background-color: black;
}

#mainContainer {
  display: flex;
  flex-direction: row;
  height: 640px;
}

#leftPanel {
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

#goButton {
  height: 50px;
  width: 100px;
  background-color: brown;
  text-align: center;
  cursor: pointer;
}

#rightPanel {
  flex-grow: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.gridColumn {
  padding: 6px;
  border: 1px solid white;
}
